*dll
*obj
*build*
!simp_cuda/scripts/build-pamo.sh
*egg*
*.ply
*.so
__pycache__/
simp_cuda/pamo/_cuda_abi.py
simp_cuda/pamo/*.so
*.txt
!simp_cuda/licenses/
!simp_cuda/licenses/*.txt
dataset.py
extract.py
mapping.py
process.py
test_cpu.py
test.py
thingi10k.py
run.sh
make.sh
!mesh/*obj
examples/*
